.Landing,
.portfolio,
.imgGallery,
.contact {
  position: relative;
}

.Landing {
  height: 100vh;
  background-color: lightblue;
  text-align: center;
}

.portfolio {
  height: auto;
  background-color: blanchedalmond;
}

.imgGallery {
  height: auto;
  background-color: rgb(18, 18, 19);
  background-attachment: fixed;
}

.gallery {
  opacity: 0.5;
  transition: 1s;
}

.gallery:hover {
  opacity: 1;
  transition: 1s;
}

.contact {
  height: 43vh;
  padding: 40px;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.contact ul {
  margin-top: 50px;
  list-style-type: none;
  padding: 10px;
}

.contact li {
  font-size: 24px;
  padding: 4px;
  width: 30px;
  transition: 1s;
}

.contact li:hover {
  cursor: pointer;
  color: rgb(122, 122, 122);
  transition: 1s;
}
