.Landing,.portfolio,.imgGallery,.contact{
  position: relative;
}

.Landing{
  height: 100vh;
  background-color: lightblue;
  text-align: center;
}

.portfolio{
  height: auto;
  background-color: blanchedalmond;
}

.imgGallery{
  height: auto;
  background-color: blueviolet;
}

.contact{
  background-color: black;
  height: 40vh;
}